.formArea{
    width: 100%;
    height: 370px;
    border: solid 3px #32CD32;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBox{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formPurchase{
    width: 80%;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}