@mixin dbtn{
    padding: 5px 10px;
    border: none;
}

:global(.light){
    .btn{
        @include dbtn;
        background-color: #32CD32;
    }
}

:global(.dark){
    .btn{
        @include dbtn;
        background-color: green;
        color: white;
    }
}
