.searchStyleForm{
    padding:10px 0;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 150px;
}
.searchStyle{
    width: 200px;
    height: 20px;
}
.bigBlockSearch{
    margin: 20px 0;
}
.spinner{
    position: absolute;
    right: 20px;
}
.text{
    margin: 20px 0;
}