.inputs-block-my-form{
    margin: 0 auto;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 3px solid #32CD32;
    /*box-shadow: 0 0 10px 7px rgba(34, 60, 80, 0.2);*/
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.input{
    margin: 7px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}