li{
    list-style: none;
}
.li-class{
    width: 30%;
    height: 300px;
    background-color: #c7ecfa;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
}
.dark-li{
    background-color: #000000;
    color: white;
}
.light-li{
    background-color: #c7ecfa;
    color: black;
}
.list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: mediumpurple;
    border: none;
    margin: 2%;
}
.dark-btn{
    background-color: darkorange;
}
.light-btn{
    background-color: hotpink;
}
.box-btn{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.small-box-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-product{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 2%;
}
.input{
    margin: 7px;
   width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-box{
    margin: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mark {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
}

.box-img{
    width: 30px;
    height: 30px;
}

.product-image{
    width:100%;
    height: 100%;
}
.theme-changer{
    width: 100%;
    display: flex;
    justify-content: end;
}
.theme-changer select{
   width: 200px;
}